.card-columns
  - @users.each do |user|
    = render 'users/user', user: user

= search_form_for @ransack_courses, as: :courses_search, url: :courses do |f|
  = f.search_field :email_cont, placeholder: 'Email'
  = f.search_field :sign_in_count_eq, placeholder: 'Sign in count'
  = f.search_field :email_or_sign_in_count_eq, placeholder: "Email or Sign In Count"
  = f.submit

= link_to users_path, class: 'btn btn-sm btn-secondary' do
  .fa.fa-sync



%table.table.table-bordered
  %thead
    %tr
      %th id
      %th= sort_link(@q, :email)
      %th created_at
      %th= 'sign_in_count'.humanize
      %th= 'current_sign_in_at'.humanize
      %th= 'last_sign_in_at'.humanize
      %th= 'current_sign_in_ip'.humanize
      %th= 'last_sign_in_ip'.humanize
  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td= user.username
        %td= user.created_at
        %td= user.sign_in_count
        %td= user.current_sign_in_at
        %td= user.last_sign_in_at
        %td= user.current_sign_in_ip
        %td= user.last_sign_in_ip

