
.jumbotron
  .display-4
    What would you like to learn today?
  .p-4

  %form.form-inline.my-2.my-lg-0
    = form_tag(courses_path, method: :get) do
      .input-group
        = text_field_tag :title, params[:title], autocomplete: 'off', placeholder: 'Search', class: 'form-control'
        %span.input-group-append
          %button.btn.btn-primary.btn-sm{:type => "submit"}
            %span.fa.fa-search{"aria-hidden" => "true"}

%hr
  %h2
    Popular Courses
.card-columns
  - @courses.each do |course|
    = render 'courses/course', course: course
%hr
  %h2
    Top Rated Courses
.card-columns
  - @courses.each do |course|
    = render 'courses/course', course: course
%hr
  %h2
    Most Recent Courses
.card-columns
  - @latest_courses.each do |course|
    = render 'courses/course', course: course

