%h1 
  Courses 
  = @courses.count

.row
  .col-md-2
    .form
      = search_form_for @q do |f|
        = f.search_field :title_cont, placeholder: 'title', class: "form-control"
        = f.search_field :short_description_cont, placeholder: 'short description', class: "form-control"
        = f.search_field :language_cont, placeholder: 'language', class: "form-control"
        = f.search_field :level_cont, placeholder: 'level', class: "form-control"
        = f.search_field :price_eq, placeholder: 'price', class: "form-control"
        = f.submit
    = link_to 'Refresh', courses_path

  .col-md-10
    .card-columns
      - @courses.each do |course|
        = render "courses/course", course: course


