%h1 
  Courses 
  = @courses.count

.row
  .col-md-2
    .form
      = search_form_for @ransack_courses, as: :courses_search, url: :courses do |f|
        = f.label :title
        = f.search_field :title_cont, placeholder: 'title', class: "form-control"

        = f.label :description
        = f.search_field :short_description_cont, placeholder: 'short description', class: "form-control"

        = f.label :language
        = f.select :language_cont, Course.languages, placeholder: 'language', class: "form-control"

        = f.label :level
        = f.select :level_cont, Course.levels, class: "form-control"

        = f.label :price
        = f.search_field :price_eq, placeholder: 'price', class: "form-control"

        = f.label :email
        = f.search_field :user_email_cont, placeholder: 'User email', class: "form-control"
        %br
        = f.submit
    = link_to 'Refresh', courses_path

  .col-md-10
    .card-columns
      - @courses.each do |course|
        = render "courses/course", course: course


